@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: #000000;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}


body {
  --sb-track-color: #171a22;
  --sb-thumb-color: #2F395E;
  --sb-size: 5px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;

}

/* @font-face { */
/* font-family: "NeueMontrealMono"; */
/* src: url("../../public/PPNeueMontrealMono-RegularItalic.otf"); */
/* } */

@font-face {
  font-family: "NeueMontrealMonoRegular";
  src: url("../../public/PPNeueMontrealMono-Thin.otf");
}

@font-face {
  font-family: "EditorialNew";
  src: url("../../public/PPEditorialNew-Regular.otf");
}