.statistics{
    /* background-color: red; */
    color: white;
    height: max-content;
    width: 75%;
}

.stats_heading{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: red; */
    height: min-content;
    font-family: "NeueMontrealMonoRegular";
}   

.gem{
    /* background-color: green; */
}

.statistics_items{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 50%);

    /* grid-template-columns: auto auto auto; */
    /* background-color: yellow; */
    padding: 30px;


    /* grid-template-rows: 2; */
    grid-gap: 30px;
    /* background-color: yellow; */
}

.statistics_items span{
    height: 120px;
    /* width: 20vw; */
    /* background-color: green; */
    font-size: 3.1rem;
    text-align: center;
    font-style: italic;
    
    font-weight: 100;
   
}

.statisticsNumber{
    
    font-family: "EditorialNew";
}

.StatisticsName{
    font-family: "EditorialLight";
}

.third{
    padding-right: 210px;
    text-align: right;
    /* background-color: yellow; */
    
}

.fourth{
    padding-left: 180px;
    text-align: left;
    /* background-color: aliceblue; */
}

.torous{
    position: absolute;
    right: 0px;
    height: 400px;
    width: 300px;
    /* background-color: green; */
    z-index: -1;
}

@media(max-width: 100vh){
    body{
        /* background-color: green; */
    }

    .statistics_items{
        grid-template-columns: repeat(1, 100%);
    }

    .statistics_items span{
        height: min-content;
        font-size: 2.3rem;
    }

    .third{
        padding: 0px;
    }
    .fourth{
        padding:0px;
    }
}

